.cell {
  display: grid;
  width: var(--tile-hitbox-size);
  height: var(--tile-hitbox-size);
  flex: 0 0 auto;
  place-items: center;

  &[data-drop-pool-target-active="true"] [data-tile-border] {
    opacity: 1;
    animation-play-state: running;
  }
}
