.cell {
  display: grid;
  width: var(--tile-hitbox-size);
  height: var(--tile-hitbox-size);
  flex: 0 0 auto;
  place-items: center;
}

.shaking {
  animation: shake 0.3s ease-in-out;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-4px);
  }
  40% {
    transform: translateX(4px);
  }
  60% {
    transform: translateX(-3px);
  }
  80% {
    transform: translateX(3px);
  }
}
